---
layout: default
folder: annexes
permalink: annexes/
---

<section id="annexes" class="top-section report-1 section">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xs-12">
				<div class="box">
					<h1><span class="h1-heading">
				    Annexes
					</span></h1>

					<h3>STATISTICAL ANNEX</h3>

					<ol>
						<li>
							{% include annex-block.html file='DeathbyRescue_Statistical%20annex_17.04.2016.pdf' title='Forensic Oceanography, Compilation of statistical data on migrant arrivals, deaths, mortality and rescue at sea' %}
						</li>
					</ol>


					<h3>EXPERT REPORTS</h3>

					<ol>
						<li>
							{% include annex-block.html file='Porsia_Libya_smugglers.pdf' title='Nancy Porsia, Report on smuggling networks in Libya' %}
						</li>
						<li>
							{% include annex-block.html file='2.Limeburner_Wind_and_Waves_Migrant_Boat_Capsize.pdf' title='Richard Limeburner, Wind and Waves Conditions off the Coast of Libya during April 2015' %}
						</li>
					</ol>


					<h3>OFFICIAL DOCUMENTS</h3>
					<br>
					<h5 class="annexes-h5">A. Frontex operational documents</h5>

					<ol>
						<li>
							{% include annex-block.html file='1.Frontex_Mission_report_meeting_Rome_26.08.2014.pdf' title='Frontex, Mission report for 25-26 August 2014 meetings in Rome, 26 August 2014' %}
						</li>
						<li>
							{% include annex-block.html file='2.Frontex_Concept_JO_EPN-Triton_28.08.2014.pdf' title='Frontex, Concept of reinforced joint operation tackling the migratory flows towards Italy: JO EPN-Triton, 28 August 2014' %}
						</li>
						<li>
							{% include annex-block.html file='3.Frontex_Technical%20Meeting_Rome_24.09.2014.pdf' title='Frontex, Minutes from the technical meeting held in Rome, 24 September 2014' %}
						</li>
						<li>
							{% include annex-block.html file='4.Frontex_Frontex_Mission_report_meeting_%20Rome_14.10.2014.pdf' title='Frontex, Mission report for 9 October 2014 technical meeting in Rome, 14 October 2014' %}
						</li>
						<li>
							{% include annex-block.html file='5.Frontex_Technical%20Meeting_Warsaw_16.10.2014.pdf' title='Frontex, Minutes from the technical meeting held in Warsaw, 14 October 2014' %}
						</li>
						<li>
							{% include annex-block.html file='6.Frontex_Letter%20to%20Giovanni%20Pinto_25.11.2104.pdf' title='Frontex, Letter to Giovanni Pinto, Italian General Director of Immigration and Border Police, 25 November 2014.' %}
						</li>
						<li>
							{% include annex-block.html file='7.Frontex_Triton%202015%20Tactical%20Focused%20Assessment_14.01.2015.pdf' title='Frontex, JO Triton 2015 Tactical Focused Assessment, 14 January 2015' %}
						</li>
					</ol>


					<h5 class="annexes-h5">B. Frontex SAR reports</h5>

					<ol>
						<li>
							{% include annex-block.html file='1.Frontex_AFSO%20Flash%20Report_09.2.2015.pdf' title='Frontex, AFSO Flash Report, 9 February 2015' %}
						</li>
						<li>
							{% include annex-block.html file='2.Frontex_SIR_%2009.2.2015.pdf' title='Frontex, Serious Incident Report, 9 February 2015' %}
						</li>
						<li>
							{% include annex-block.html file='3.Frontex_SIR_03.03.2015.pdf' title='Frontex, Serious Incident Report, 3 March 2015' %}
						</li>
						<li>
							{% include annex-block.html file='4.Frontex_SIR_12.04.2015.pdf' title='Frontex, Serious Incident Report, 12 April 2015' %}
						</li>
						<li>
							{% include annex-block.html file='5.Frontex_SIR_19.04.2015.pdf' title='Frontex, Serious Incident Report, 19 April 2015' %}
						</li>
					</ol>
				
				</div>
			</div>
		</div>
	</div>				
</section>