---
layout: default
folder: annexes
permalink: annexes/
---

<section id="annexes" class="top-section report-1 section">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xs-12">
				<div class="box">
					<h1><span class="h1-heading">
				    Annexes
					</span></h1>

					<!-- <h3>STATISTICAL ANNEX</h3>

					<ol>
						<li>
							{% include annex-block.html file='DeathbyRescue_Statistical%20annex_17.04.2016.pdf' title='Forensic Oceanography, Compilation of statistical data on migrant arrivals, deaths, mortality and rescue at sea' %}
						</li>
					</ol> -->


					<h3>EXPERT REPORTS</h3>

					<ol>
						<li>
							{% include annex-block.html file='' title='Nancy Porsia, Human Smuggling from Libya Across the Sea, 2015-2016' %}
						</li>
						<li>
							{% include annex-block.html file='' title='Gian-Andrea Monsch, Statistical analysis of the correlation between migrant mortality and SAR NGO deployment ' %}
						</li>
					</ol>


					<h3>OFFICIAL DOCUMENTS</h3>

					<ol>
						<li>
							{% include annex-block.html file='1.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_29_Dec_2014-15_Mar.2015.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 29 Dec. 2014-15 Mar. 2015.' %}
						</li>
						<li>
							{% include annex-block.html file='2.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_13_Mar-17_May_2015.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 13 Mar-17 May 2015.' %}
						</li>
						<li>
							{% include annex-block.html file='3.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_18_May-12_July_2015.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 18 May-12 July 2015.' %}
						</li>
						<li>
							{% include annex-block.html file='4.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_13_July-4_Oct.2015.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 13 July-4 Oct. 2015.' %}
						</li>
						<li>
							{% include annex-block.html file='5.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_5_Oct.2015-3_Jan.2016.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 5 Oct. 2015-3 Jan. 2016.' %}
						</li>
						<li>
							{% include annex-block.html file='6.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_4_Jan.-13_Mar.2016.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 4 Jan.-13 Mar. 2016.' %}
						</li>
						<li>
							{% include annex-block.html file='7.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_14_Mar.-22_May_2016.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 14 Mar.-22 May 2016.' %}
						</li>
						<li>
							{% include annex-block.html file='8.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_23_May-31_July_2016.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 23 May-31 July 2016.' %}
						</li>
						<li>
							{% include annex-block.html file='9.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_1_Aug.-9_Oct.2016.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 1 Aug.-9 Oct. 2016.' %}
						</li>
						<li>
							{% include annex-block.html file='10.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_10_Oct.2016-1_Jan_2017.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 10 Oct. 2016-1 Jan 2017.' %}
						</li>
						<li>
							{% include annex-block.html file='11.Frontex_JO_EPN_Triton_Biweekly_Analytical_Update_21_Nov.-4_Dec.2016.pdf' title='Frontex, JO EPN Triton, Biweekly Analytical Update, 21 Nov.-4 Dec. 2016' %}
						</li>
						<li>
							{% include annex-block.html file='12.Frontex_Report_NGOs_in_Central_Med.pdf' title='Frontex, Report, NGOs operating in the Central Mediterranean, 15 Nov. 2016 ' %}
						</li>
					</ol>
				
				</div>
			</div>
		</div>
	</div>				
</section>