---
layout: default
folder: iuventa
article: iuventa
permalink: iuventa/
---

<section id="introduction" class="top-section section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xs-12">
                <div class="box">
                    <h1 style="margin-bottom: 0.5em">
                        <span class="h1-heading">
                            The Iuventa Case
                        </span>
                    </h1>

                    {% include vimeo-block.html videoID='258588902' caption='The Crime of Rescue &ndash; The Iuventa case, 2018, 33 min' %}

                    <p>An investigation by Forensic Oceanography and Forensic Architecture</p>
                    <p>Realised with the support of Borderline Europe, the WatchTheMed platform and Transmediale</p>

                    <p>As demonstrated in our report <a href="https://blamingtherescuers.org/" style="text-decoration: underline; font-weight: bold">Blaming the Rescuers</a>
                        {% include footnote-block.html content='Charles Heller and Lorenzo Pezzani, &ldquo;Blaming the Rescuers&rdquo;, 9 June 2017, <a href="https://blamingtherescuers.org/">blamingtherescuers.org</a> (last accessed 19 April 2018).' %}
                    , since the end of 2016, a growing campaign of de-legitimisation and criminalisation has systematically targeted non-governmental organisations (NGOs) engaged in search and rescue in the Mediterranean. These organisations had courageously deployed their own rescue missions in a desperate attempt to fill the gap left by the EU and its member states&rsquo; decision to pull back from rescue at sea at the end of 2014. </p>

                    <p style="margin-top:1.5rem;">
                        In our report we analysed and countered the arguments used to fuel a &ldquo;toxic narrative&rdquo; against rescue NGOs, which emanated from EU agencies such as Frontex, and different institutional bodies in Italy. While this campaign had remained largely on a discursive level, over the summer of 2017 it quickly escalated with the Italian government&rsquo;s attempt to impose a &ldquo;code of conduct&rdquo; on rescue NGOs. An intense standoff ensued as several NGOs, from larger organisations such as Doctors without Borders to smaller ones such as the German Jugend Rettet (&lsquo;Youth Rescue&rsquo;), refused to sign it before the announced deadline of 31 July 2017, claiming that the code would have threatened their activities at sea with requests that a leading legal scholar had described as "nonsensical", "dishonest" and "illegal".
                            {% include footnote-block.html content='Interview with Violeta Moreno Lax, 24 July 2017, <a href="https://sea-watch.org/en/nonsensical-dishonest-illegal-the-code-of-conduct/">blamingtherescuers.org</a> (last accessed 19 April 2018).' %}
                    </p>


                    <p>On 2 August 2017, only days after this deadline had passed, Jugend Rettet&rsquo;s ship, the Iuventa, was seized by the Italian judiciary. Its crew was accused of having colluded with smugglers during three different rescue operations: the first on the 10 September 2016, the second and third on 18 June 2017. The order of seizure contended that on those occasions the Iuventa was being used to &ldquo;aiding and abetting illegal immigration&rdquo; by arranging the direct handover of migrants by smugglers and returning empty boats for re-use. </p>

                    <p>
                        The video presented here offers a counter-investigation of the authorities&rsquo; version, and a refutation of their accusations. While the latter operate by decontextualizing factual elements and recombining them into a spurious chain of events, our analysis attempts instead to cross-reference all elements of evidence into a coherent spatio-temporal model. This is made possible by the exponential increase in video&nbsp;documentation recorded by NGOs and other actors at sea. From our reconstruction, it appears that the Iuventa crew did not return empty boats for re-use, nor communicate with anyone potentially connected with smuggling networks. The materials we have reviewed further show the Iuventa crew&rsquo;s professionalism and commitment to saving lives at sea.
                    </p>

                    <p>While no charges have been so far brought against the crew of the Iuventa nor against Jugend Rettet as an organisation, thus making it extremely difficult for them to respond to these accusations, the boat has remained under custody of the Italian police in the port of Trapani, Sicily.</p>

                    <p>The attempt to criminalise and limit the rescue activities of the NGOs, most of whom have been forced to suspend their activities since summer 2017, should be understood as part of a two-pronged strategy by Italian and EU authorities to close off&nbsp;the central Mediterranean at all cost. This undeclared operation, which we have dubbed &ldquo;Mare Clausum&rdquo;, also includes the provision of technical, political and material support to the Libyan coast guard.
                        {% include footnote-block.html content='Amnesty International, &ldquo;Libya&rsquo;s dark web of collusion: Abuses against Europe-bound refugees and migrants&rdquo;, 11 December 2017, <a href="https://www.amnesty.org/en/documents/mde19/7561/2017/en/">blamingtherescuers.org</a> (last accessed 19 April 2018).' %}

                    The latter has not only increasingly threatened rescue NGOs at sea, but also intercepted and returned more and more migrants back to Libya. In this way, European authorities have been physically containing migrants in a country where their lives are endangered, and their human rights are systematically violated.
                        {% include footnote-block.html content='Amnesty International, &ldquo;Libya&rsquo;s dark web of collusion: Abuses against Europe-bound refugees and migrants&rdquo;, 11 December 2017, <a href="https://www.amnesty.org/en/documents/mde19/7561/2017/en/">blamingtherescuers.org</a> (last accessed 19 April 2018).' %}

                     Meanwhile, migrant solidarity groups have been attacked and criminalised all over Europe and beyond, from Lesvos to Calais, from Tangier to Bardonecchia, from the Roja valley in France to Denmark.</p>

                    <p style="font-size: 0.9em">
                        Project Team Forensic Oceanography: Charles Heller, Lorenzo Pezzani<br>
                        Project Team Forensic Architecture: Nathan Su, Christina Varvia, Eyal Weizman, Grace Quah<br>
                        Technical consultants: Rossana Padaletti (GIS) and Richard Limeburner (Oceanography)<br />
                        Footage and stills by Jugend Rettet e.V. and Reuters<br>
                        Realised with the support of Borderline Europe, the WatchTheMed platform and Transmediale
                    </p>

                    <p style="margin-top: 1.5em; font-weight: bold"><i>This video is currently exhibited at the Institute for Contemporary Art, London (UK), in the frame of <a href="https://www.ica.art/whats-on/season/counter-investigations-forensic-architecture" style="text-decoration: underline">"Counter Investigations: Forensic Architecture"</a>, 7 Mar 2018- 6 May 2018.</i></p>
                </div>

                <!--div class="box">
                    <h1 style="margin-bottom: 0.5em">
                        <span class="h1-heading">
                            Sea Watch vs Libyan Coast Guard
                        </span>
                    </h1>

                    {% include vimeo-block.html videoID='219739614' caption='Video summary of the report &ldquo;<em>Death by Rescue: The Lethal Effects of the EU&#8217;s Policies of Non-Assistance</em>&rdquo;, directed by Forensic Oceanography (Charles Heller and Lorenzo Pezzani), 2016, 14min.' %}

                    <p>
                        If the criminalisation of rescue NGOs escalated over summer 2017, so did the other dimension of Italy’s and the EU’s strategy to close off the sea which we have identified in Blaming the Rescuers: the collaboration with the Libyan coast guards. On the same day as the Iuventa was seized, Italy authorised the deployment of its warships within Libya’s territorial waters to provide logistical support to the Libyan Coast Guard to prevent and intercept migrants departures. This contributed to an expansion of interceptions operated by the Libyan coast guard that, better equipped and prepared to use disproportionate force, has operated ever further from the Libyan coast, conflicting and colliding with those NGOs still pursuing their operations in the Mediterranean.
                    </p>

                    <p>
                        On the 6 November 2017, the NGO Sea Watch and the Libyan coast guard were involved in a highly confrontational search and rescue event involving a boat carrying around 140 migrants. Despite the Libyan coast guard vessel’s reckless behaviour, Sea Watch managed to recover 59 people, who were brought to Italy, while 47 passengers were pulled-back to Libya. More then 20 people died before and during the rescue.
                    </p>

                    <p>
                        The investigation of this case is still ongoing and part of a broader investigation into the practices of “refoulement by proxy” through which the Italian government, with the support of the European Union, is physically containing migrants on the Mediterranean’s southern shore, where they face horrific conditions, without requiring the direct involvement of Italian or EU authorities.
                    </p>

                    <p style="font-size: 0.9em">
                        Project Team Forensic Oceanography: Charles Heller, Lorenzo Pezzani, Rossana Padeletti <br>
                        Project Team Forensic Architecture: Stefan Laxness, Stefanos Levidis, Grace Quah, Nathan Su, Samaneh Moafi, Christina Varvia, Eyal Weizman<br>
                        Footage by Sea Watch e.V.<br>
                        Realised with the support of the WatchTheMed platform and the Swiss National Fund
                    </p>
                    <br>
                    <p style="margin-top: 1.5em; font-weight: bold"><i>Both videos are currently exhibited at the Institute for Contemporary Art, London (UK), in the frame of <a href="https://www.ica.art/whats-on/season/counter-investigations-forensic-architecture" style="text-decoration: underline">"Counter Investigations: Forensic Architecture"</a>, 7 Mar 2018- 6 May 2018.</i></p>
                </div-->
            </div>
        </div>
    </div>
</section>
