---
layout: default
folder: newcases
article: newcases
permalink: newcases
---

<section id="introduction" class="top-section section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xs-12">
                <div class="box">
                    <h1 style="margin-bottom: 0.5em">
                        <span class="h1-heading">
                            Iuventa
                        </span>
                    </h1>

                    {% include vimeo-block.html videoID='258588902' caption='Video summary of the report &ldquo;<em>Death by Rescue: The Lethal Effects of the EU&#8217;s Policies of Non-Assistance</em>&rdquo;, directed by Forensic Oceanography (Charles Heller and Lorenzo Pezzani), 2016, 14min.' %}
                    
                    <p>As demonstrated in our report <a href="https://blamingtherescuers.org/" style="text-decoration: underline; font-weight: bold">Blaming the Rescuers</a>, since the end of 2016, a growing campaign of de-legitimisation and criminalisation has systematically targeted non-governmental organisations (NGOs) engaged in search and rescue in the Mediterranean. These organisations had courageously deployed their own rescue missions in a desperate attempt to fill the gap in search and rescue capabilities created by the EU and its member states’ decision to pull back from rescue at sea at the end of 2014. </p>
                    
                    <p style="margin-top:1.5rem;">
                        In our report we analysed and countered the arguments used to fuel a “toxic narrative” against rescue NGOs which emanated from EU agencies such Frontex, and different institutional bodies in Italy. While this campaign had remained largely on a discursive level, over the summer of 2017 it quickly escalated with the Italian government’s attempt to impose a “code of conduct” on rescue NGOs. An intense standoff ensued as several NGOs, from larger organisations such as Doctors without Borders to smaller ones such as the German Jugend Rettet (‘Youth Rescue’), refused to sign it before the announced deadline of 31 July 2017, claiming that the code would have threatened their activities at sea with requests that a leading legal scholar had described as <a href="https://sea-watch.org/en/nonsensical-dishonest-illegal-the-code-of-conduct/amp/" style="text-decoration: underline; font-weight: bold">"nonsensical", "dishonest" and "illegal"</a>. 
                    </p>

                    <p>On 2 August 2017, only days after this deadline had passed, Jugend Rettet’s ship, the Iuventa, was seized by the Italian judiciary under suspicion of ‘assistance to illegal migration’ and collusion with smugglers during three different rescue operations. While no charges have been so far brought against the crew of the Iuventa nor against Jugend Rettet as an organisation, thus making it extremely difficult to respond to their allegations, the boat has remained under custody of the Italian police in the port of Trapani, Sicily. </p>
                    
                    <p>
                        The video presented here, part of an on-going work in progress, offers a counter-investigation of the authorities’ version of one of these episodes, a rescue operation that occurred in the early morning of 18 June 2017. An analysis of the other two episodes for which the Iuventa is being accused will be published in the coming weeks. 
                    </p>
                    
                    <p style="font-size: 0.9em">
                        Project Team Forensic Oceanography: Charles Heller, Lorenzo Pezzani<br>
                        Project Team Forensic Architecture: Nathan Su, Christina Varvia, Eyal Weizman, Grace Quah<br>
                        Footage and stills by Jugend Rettet e.V. and Reuters<br>
                        Realised with the support of Borderline Europe, the WatchTheMed platform and Transmediale
                    </p>
                </div>
                
                <div class="box">
                    <h1 style="margin-bottom: 0.5em">
                        <span class="h1-heading">
                            Sea Watch vs Libyan Coast Guard
                        </span>
                    </h1>
                    
                    {% include vimeo-block.html videoID='219739614' caption='Video summary of the report &ldquo;<em>Death by Rescue: The Lethal Effects of the EU&#8217;s Policies of Non-Assistance</em>&rdquo;, directed by Forensic Oceanography (Charles Heller and Lorenzo Pezzani), 2016, 14min.' %}                    

                    <p>
                        If the criminalisation of rescue NGOs escalated over summer 2017, so did the other dimension of Italy’s and the EU’s strategy to close off the sea which we have identified in Blaming the Rescuers: the collaboration with the Libyan coast guards. On the same day as the Iuventa was seized, Italy authorised the deployment of its warships within Libya’s territorial waters to provide logistical support to the Libyan Coast Guard to prevent and intercept migrants departures. This contributed to an expansion of interceptions operated by the Libyan coast guard that, better equipped and prepared to use disproportionate force, has operated ever further from the Libyan coast, conflicting and colliding with those NGOs still pursuing their operations in the Mediterranean. 
                    </p>
                    
                    <p>
                        On the 6 November 2017, the NGO Sea Watch and the Libyan coast guard were involved in a highly confrontational search and rescue event involving a boat carrying around 140 migrants. Despite the Libyan coast guard vessel’s reckless behaviour, Sea Watch managed to recover 59 people, who were brought to Italy, while 47 passengers were pulled-back to Libya. More then 20 people died before and during the rescue.
                    </p>
                    
                    <p>
                        The investigation of this case is still ongoing and part of a broader investigation into the practices of “refoulement by proxy” through which the Italian government, with the support of the European Union, is physically containing migrants on the Mediterranean’s southern shore, where they face horrific conditions, without requiring the direct involvement of Italian or EU authorities.
                    </p>

                    <p style="font-size: 0.9em">
                        Project Team Forensic Oceanography: Charles Heller, Lorenzo Pezzani, Rossana Padeletti <br>
                        Project Team Forensic Architecture: Stefan Laxness, Stefanos Levidis, Grace Quah, Nathan Su, Samaneh Moafi, Christina Varvia, Eyal Weizman<br>
                        Footage by Sea Watch e.V.<br>
                        Realised with the support of the WatchTheMed platform and the Swiss National Fund
                    </p>
                    <br>
                    <p style="margin-top: 1.5em; font-weight: bold"><i>Both videos are currently exhibited at the Institute for Contemporary Art, London (UK), in the frame of <a href="https://www.ica.art/whats-on/season/counter-investigations-forensic-architecture">"Counter Investigations: Forensic Architecture"</a>, 7 Mar 2018- 6 May 2018.</i></p>
                </div>
            </div>
        </div>
    </div>
</section>
