---
layout: default
folder: report
article: introduction
permalink: report/
---
<!-- 
<div class="page-nav">
  <div class="page-nav-items">
        <a class="page-scroll" href="#introduction">Introduction</a>
        <a class="page-scroll" href="#toxic-narrative">Toxic Narrative</a>
        <a class="page-scroll" href="#counter-analysis">Counter Analysis</a>
        <a class="page-scroll" href="#conclusions">Conclusions</a>
  </div>
</div> 
-->

{% include report.introduction.html %}

{% include report.toxicnarrative.html %}

{% include report.counteranalysis.html %}

{% include report.conclusions.html %}