---
layout: default
folder: report
article: counteranalysis
permalink: report/counteranalysis/
---

<div class="page-nav">
  <div class="page-nav-items">
		<a class="page-scroll" href="#report-1">1. PULL FACTOR ? </a>
		<a class="page-scroll" href="#report-2">2. WORSENING SMUGGLERS’ TACTICS ?</a>
		<a class="page-scroll" href="#report-3">3. INCREASING THE DANGER OF CROSSINGS ?</a>

  </div>
</div>

{% include counteranalysis.0.html %}

{% include counteranalysis.1.html %}

{% include counteranalysis.2.html %}

{% include counteranalysis.3.html %}


