<meta charset="utf-8" >
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<meta name="description" content="{{ site.description }}" >
<meta property="og:description" content="{{ site.description }}" >
<meta property="og:title" content="{{ site.name }}" >
<meta name="author" content="{{ site.author }}">
<meta name="designer" content="Matteo Menapace and Aimee Matthew-John, based on the Amnesty International and Forensic Architecture report, Nick Axel/Forensic Architecture">
<meta property="og:image" content="{{ site.baseurl }}/assets/Humanitarian-Pilot-Initiative---Iuventa_highres.jpg" />