<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-header">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>

      <div class="title">
        <a href="{{ site.baseurl }}/">{{ site.name }}</a>
      </div>
    </div>
    
    {% if include.folder == 'report' %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    {% else %}
    <div class="collapse navbar-collapse navbar-ex1noreport-collapse">
    {% endif %}

      <div class="menu-1">
        <h5>
          <ul class="nav navbar-nav">
            <li {% if include.folder == 'foreword' %} class="current" {% endif %}>
              <a class="page-scroll" href="{{ site.baseurl }}/foreword">Foreword</a>
            </li> 
            <li {% if include.folder == 'summary' %} class="current" {% endif %}>
              <a class="page-scroll" href="{{ site.baseurl }}/">Summary</a>
            </li>
            <li {% if include.folder == 'report' %} class="current" {% endif %}>
              <a class="page-scroll" href="{{ site.baseurl }}/report">Report</a>
            </li>
            <li {% if include.folder == 'annexes' %} class="current" {% endif %}>
              <a class="page-scroll" href="{{ site.baseurl }}/annexes">Annexes</a>
            </li>
            <li {% if include.folder == 'acknowledgements' %} class="current" {% endif %}>
              <a class="page-scroll" href="{{ site.baseurl }}/acknowledgements">Acknowledgements</a>
            </li>
          </ul>
        </h5>
      </div>
      
      {% if include.folder == 'report' %}
      <div class="menu-2">
        <h5>
          <ul class="nav navbar-nav">
            <li>
              <a class="page-scroll" href="#page-top">Introduction</a>
            </li>
            <li>
              <a class="page-scroll" href="#toxic-narrative">Toxic Narrative</a>
            </li>
            <li>
              <a class="page-scroll" href="#counter-analysis">Counter Analysis</a>
            </li>
            <li>
              <a class="page-scroll" href="#conclusions">Conclusions</a>
            </li>
          </ul>
        </h5>
      </div>

      <div class="page-nav">
        <ol class="nav navbar-nav">
          <li>
            <a class="page-scroll" href="#counter-1">1. PULL FACTOR? </a>
          </li>
          <li>
            <a class="page-scroll" href="#counter-2">2. WORSENING SMUGGLERS’ TACTICS?</a>
          </li>
          <li>
            <a class="page-scroll" href="#counter-3">3. INCREASING THE DANGER OF CROSSINGS?</a>
          </li>
        </ol>
      </div>

      {% endif %}

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>