@font-face {
    font-family: BebasNeueBold;
    src: url(../fonts/BebasNeueBold.ttf);
}

@font-face {
    font-family: LeagueGothic;
    src: url(../fonts/LeagueGothic-Regular.ttf);
}

@font-face {
    font-family: GnuolaneRegular;
    src: url(../fonts/gnuolane-rg.ttf);
}

@font-face {
    font-family: PTSansNarrowBold;
    src: url(../fonts/PTSansNarrowBold.ttf);
}

* {
  -webkit-font-smoothing: antialiased !important;
  // let's anti-aliase everything!
}

h1, h2, h3, h4, h5, h6, .h1-heading, .h2-heading, .h3-heading
{
  font-family: BebasNeueBold;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3
{
  text-transform:uppercase;
}

.h1-heading, .hero-h1
{  
  /*font-size: 59px;*/
  font-size: 3.5rem;
  /*line-height: 1.85;*/
  padding: 1.42857rem 1.71429rem;
  background-color: #dadada;
  color:black;
  margin-top:calc(1.71429rem - 10px);
  text-transform:uppercase;
  display:inline-block;

}

.hero-h1
{
  // padding: 1rem 1.7rem 0.3rem;
  padding: 1.2rem 1.4rem 0.6rem;
  // margin-top:0;
  background-color:black;
  color:white;
}


h5, .h5-heading
{
  font-size: 1.75rem;
}
.annexes-h5
{
  font-size: 1.4rem;
  margin-top: .5rem;
}

.h5-heading {
  background-color: white;
  color:black;
  border:1px solid black;
  padding: 10px;
  padding: .71429rem;
  display: inline-block;
  line-height: .9;
  text-transform:uppercase;
  margin-bottom: 1rem;
}


.h3-heading {
  padding: 10px;
  background-color: #dadada;
  color:black;
  text-transform:uppercase;
  display:inline-block;
  font-size: 2.25rem;
  font-weight: 400;
  margin:0;
  /* -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal; */
  font-kerning: normal;
  line-height: 1.1;
}

#summary-1 h3 span.h3-heading
  {
   margin-bottom: 1rem;
  }

.h3-heading-top {
  padding: 10px;
  background-color: #dadada;
  color:black;
  text-transform:uppercase;
  display:inline-block;
  /*width:100%;*/
  text-align:left;
  font-size: 2.2rem;
  font-weight: 400;
  margin:0;
  /* -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal; */
  line-height: 1.1;
}
.h3-heading-box {
  text-align:left;
    max-width:660px;
  margin:2.5rem auto 1.5rem auto;
}
.h3-block {
  background-color: white;
  color: black;
  margin-top: 1.5rem;
}
.h3-block-bottom {  
  padding: 1.71429rem 1.71429rem 0.71429rem 1.71429rem;
  background-color: black;
  color:white;
  margin-bottom: 1.71429rem;
  margin-top: 1.71429rem;
}
.h3-block h4,
.h3-block-bottom h4 {
  margin-bottom:1rem;
  text-align: justify;
}
.panel-body .collapse .in {
    margin-bottom: 1rem;
}
h5.panel-title-inner {
  color: black;
  font-size:1rem;
  text-align:center;
  text-transform:uppercase;
}
.panel-default-inner [aria-expanded="true"] .panel-heading-inner {
  background-color: #DADADA;
  -webkit-transition:background-color .25s;
  -o-transition:background-color .25s;
  transition:background-color .25s;
}
.panel-default [aria-expanded="true"] .panel-heading .panel-title {
  color: black;
  -webkit-transition:background-color .25s;
  -o-transition:background-color .25s;
  transition:background-color .25s;
}
.panel-heading-inner{
  background: black;
  margin-bottom: 1em;
  padding: 1.42857rem 1.71429rem;
  /*border: 1px solid yellow;}*/}
.panel-heading-inner:hover .panel-title-inner {  /*background: -webkit-linear-gradient(yellow, white);
  background: -o-linear-gradient(yellow, white);
  background: linear-gradient(yellow, white);*/
  /*color: yellow;*/
  }
  .panel-body.panel-body-inner {
  color: black;
  background-color: white;
  /*padding:0 0 1rem 0;*/
}
.panel-body-inner p {
  color: black;
}
.panel-body-inner-inner {
  padding: 0 0 1rem 0;
  background-color: white;
}
.panel-body-inner-inner p {
  color: black;
}
.testimony {
    text-decoration: none;
    background: yellow;
    color: black;}
a.testimony:hover {
  color: black;
  background-color: #ffea00;
}
.modal-body h4 {
    font-weight: 200;
}
.glyphicon-bookmark{font-size:10px;color:red;}

.quote{  
    border-left: 10px solid #000;
    padding-left: 19px;
    padding-left: 1.42857rem;
    float: none;
    /*margin-left: 1rem;
  margin-right: calc(2.42857rem + 10px);*/
  max-width:660px;
  margin:2rem auto;
}

.quote-text,
.emphasized-text
{
  font-family: Oswald;
  font-weight: 400;
  word-spacing: .1rem;
  font-kerning: normal;
}

.quote-text
{
  line-height: 1.4;
  position: relative;
}

.emphasized-text
{
  font-size: 1.4rem;
  line-height: 1.3;
  margin-top:-1rem;
}

.container {
  width:100%;
  padding:0;
}
.quote-source{
    color: #b6b6b6;
    padding: 19px 0 0 0;
    padding: 1rem 0 0 0;
    font-family: sans-serif;
    font-size:1rem;
}
.panel-body .quote-text {
  font-size: 1.1rem;
    line-height: 1.2;
}
.intro-1 {
  min-height: 100%;
}
.intro-1 .container {
  border-bottom: 0px;
}
.intro-2 .container {
  border-top: 1px solid #DADADA;
}
div.panel-body::after {
  margin-bottom: -1rem;
}
.popover.top {
    z-index: 1060;
}
.caption {
  font-family: sans-serif;
  font-size: .8rem;
  display: block;
  text-align: left;
  color: black;
  position: relative;
  z-index: 2;
  line-height: 1.2;
  max-width:660px;
  margin:0 auto;
  padding-top:4px;
  /*margin-bottom: 2rem;*/
  margin-bottom: 1.5rem;
}
.caption-carousel {
    font-family: sans-serif;
  font-size: .8rem;
  width:100%;
  display: inline-block;
  text-align: right;
  /*float: right;
  margin: -66px 10px;
  max-width: calc(100% - 20px);
  margin-bottom:13px;*/
  color:black;
  position: relative;
  z-index:3;
  line-height: 1.2;
  /*margin-top:-1rem;*/
}
h5.caption {
  text-align: right;
}
.legend {
    font-family: sans-serif;
  font-size: 10px;
  padding: 10px;
  background-color: white;
  display: inline-block;
  border:1px solid black;
  text-align: right;
  /*margin-bottom: 9px;*/
  float: right;
  color:black;
  max-width: calc(100% - 20px);
  z-index:3;
  position:absolute;
  top:10px;
  right: 68.9688px;;
}
.legend-dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0px;
  text-indent: -999px;
  cursor: pointer;
  border-radius: 10px;
}
.btn-testimony {
  background-color: yellow;
  border: 0;
  display: inline-block;
  border-radius: 0;
  width: 100%;
  padding: 1rem;
  font-size: 21px;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: BebasNeueBold,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  // -webkit-font-feature-settings: 'kern';
  // font-feature-settings: 'kern';
  // -webkit-font-kerning: normal;
  // font-kerning: normal;
  line-height: 1.1;
  text-align: right;
  text-align: center;
}
.btn-testimony:hover {
    background-color:#ffea00;
}
  .action--default {
  background-color: #ff0;
}
.action {
  margin: 47px auto;
  margin: 3.42857rem auto;
  max-width: 999px;
  max-width: 71.42857rem;
  padding: 24px;
  padding: 1.71429rem;
  text-align: center;
}
.action__subheading {
  font-size: 2rem;
  font-size: 2rem;
}
.action__subheading {
  font-size: 23px;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: BebasNeueBold,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  // -webkit-font-feature-settings: 'kern';
  // font-feature-settings: 'kern';
  // -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.1;
  margin: 0;
}
.action--default .action__btn {
  font-weight: 400;
  text-transform: uppercase;
  font-family: BebasNeueBold,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  // -webkit-font-feature-settings: 'kern';
  // font-feature-settings: 'kern';
  // -webkit-font-kerning: normal;
  // font-kerning: normal;
  line-height: 1.1;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 10px 17px;
  padding: .71429rem 1.28571rem;
  text-decoration: none;
  -webkit-transition: background-color .25s,border-color .25s,color .25s;
  transition: background-color .25s,border-color .25s,color .25s;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 18px;
  font-size: 1.286rem;
  padding: 22px 42px;
  padding: 1.57143rem 3rem;
}
.action__btn {
  margin-top: 24px;
  margin-top: 1.71429rem;
  padding-left: 70px;
  padding-left: 5rem;
  padding-right: 70px;
  padding-right: 5rem;
}

.action--default .action__btn:hover {
  background-color: #363636;
}

.blocknav__box {
  font-weight: 400;
  font-family: BebasNeueBold,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  font-kerning: normal;
  line-height: 1.1;
  background-color: #fff;
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
  min-height: 16.57143rem;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.blocknav__boxtitle {
  font-weight: 400;
  font-family: BebasNeueBold,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  // -webkit-font-feature-settings: 'kern';
  // font-kerning: normal;
  line-height: 1.1;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 10px;
  background-color: black;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  left: 0;
  bottom: 0;
  width:100%;
  display: inline-block;
  color: white;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}
.blocknav__img {
  border: 0;
  height: 64px;
  height: 4.57143rem;
  margin: 0;
  margin: 24px;
  margin: 1.71429rem;
  width: 64px;
  width: 4.57143rem;
}
.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}
.blocknav__box:focus, .blocknav__box:hover {
  background-color: #e5e5e5;
  outline: 0;
}
.blocknav__item {
  width: calc((100% - 1rem) / 3);
  padding-right: .5rem;
  margin-bottom: .5rem;
  display:inline-block;
}
.blocknav__box:hover > .blocknav__boxtitle {
  color: yellow;
  -webkit-transition: color .25s;
  transition: color .25s;
}
.blocknav__box:active > .blocknav__boxtitle {
  color: yellow;
}
/*.panel-inner {
  padding-bottom: 1.42857rem;
}*/
.accordion1 {
  margin-bottom:1rem;
}
.h2-heading {
  text-align:left;
  display:inline-block;
  padding:10px;
  background: #dadada;
  text-transform:uppercase;
}
.magnify img {
  width:100%;
  height:auto;
}

.navbar-collapse.collapse.in > .menu-1 > h5 > .navbar-nav > li > a {
    padding: 8px;
}
.panel-group .panel-heading:hover .panel-title {
  /*color: yellow;*/
}
.panel-group .panel-default [aria-expanded="true"] .panel-heading {
  background-color: #DADADA;
  -webkit-transition:background-color .25s;
  -o-transition:background-color .25s;
  transition:background-color .25s;
}
.carousel-control:hover .glyphicon {
  color: #363636;
  -webkit-transition:color .25s;
  -o-transition:color .25s;
  transition:color .25s;
}
.carousel-control .glyphicon {
  color: black;
    -webkit-transition:color .25s;
  -o-transition:color .25s;
  transition:color .25s;
}

.magnify{
  width: 100%;
    margin-left: auto;
  margin-right: auto;
}
.carousel-indicators li:hover {
  background-color: yellow;
  -webkit-transition:background-color .25s;
  -o-transition:background-color .25s;
  transition:background-color .25s;
}

.navbar-default .navbar-ex1-collapse .navbar-nav-collapse > li > a 
{
  font-size: 1rem;
  padding: 7.5px .5rem;
  transition: font-size .25s;
}

.collapse.navbar-collapse.navbar-ex1-collapse 
{
  padding-bottom:30px;
  transition: padding-bottom .25s;
}

.collapse.navbar-collapse.navbar-ex1-collapse.ex1-collapse 
{
  transition: padding-bottom .25s;
}

.navbar-default .navbar-nav li a 
{
  padding: 21px 1rem;
  // padding: .5rem .5rem;
  text-transform: uppercase;
  text-align: center;
  transition: padding .25s, color .25s linear, background-color .25s linear;
}

.menu-2 h5 .navbar-nav 
{
  font-size: 1rem;
}

.menu-2, .page-nav 
{
  .navbar-nav li a 
  {
    padding: 7.5px .5rem;
  }
}

.menu-2 
{
  width:100%;
  min-height: 30px;
  position: fixed;
  right: 0;
  top: 60px;
  transition: top .25s;
}

.menu-2 ul 
{
  max-width:1000px;
}

.menu-2.menu-2-collapse 
{
  top: 30px;
}

ul.nav
{
  li
  {
    a.page-scroll 
    {
      color: white;
      background-color: black;  
      transition: color, background-color .25s;

      &:hover 
      {
        color: yellow;
        transition: color, background-color .25s;
      }
    }

    a.yellow-nav
    {
      color: yellow;
      background-color: black;  
      transition: color, background-color .25s;

      &:hover 
      {
        color: white;
        transition: color, background-color .25s;
      }
    }


    &.active,
    &.current
    {
      a.page-scroll 
      {
        color: black;
        background-color: #dadada;
        transition: color, background-color .25s;
        
        &:hover 
        {
          background-color: yellow;
          transition: color, background-color .25s;
        }
      }
    }
  }
}

.page-nav li.active a
{
  background: black;
  color: #dadada;
}

/*.top-section {
  padding-top: 104px;
}*/
.menu-1 a {
  font-size: 1.2rem;
}
.title {
  position: fixed;
  top: 21px;
  color: white;
  // left: calc(261px + 1rem);
  left: 13px;
  text-transform: uppercase;
  // font-size: 1rem;
  font-family: BebasNeueBold,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  line-height: 1.1;
  -webkit-transition: top .25s;
        -moz-transition: top .25s;
        transition: top .25s;
        -webkit-transition: font-size .25s;
        -moz-transition: font-size .25s;
        transition: font-size .25s;
}
.title.title-collapse{
  // font-size: 1.5rem;
  // top: 7.5px;
  -webkit-transition: top .25s;
        -moz-transition: top .25s;
        transition: top .25s;
        -webkit-transition: font-size .25s;
        -moz-transition: font-size .25s;
        transition: font-size .25s;
} 
/*.h2-front {
  margin-top:1rem;
  text-align: justify;
}*/
.imgbox img {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
}

.imgbox 
{
  overflow: hidden;
}

.img-box
{
  position: relative;

  .slideshow 
  {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
} 

.popover-content a {
  color: red;
}

#annexes
{
  h2, h3 
  {
    margin-top: .5rem;
    padding: 10px;
    background: #dadada;
    display: inline-block;
  }

  ol 
  {
    margin-top: 1rem;
    padding-left: 1rem;

    li
    {
      // margin-bottom: .5rem;
    }
  }  
}

a.annex
{
  &:hover
  {
    border-bottom: 1px dotted red;
  }
  
  &:after
  {
    content: "\e164";
    font-family: 'Glyphicons Halflings';
    color: red;
    margin-left: .5rem;
    position: relative;
    top: 1px;
  }
}

.panel-body .caption {
  /*margin-bottom: 1rem;
  margin-bottom: 1rem;*/
}

.panel-body .quote {
  margin-top: 0px;
}

/*.law .h2-heading {
  margin-top: 0;
  margin-bottom: 1rem;
}
.law .quote-text {
  font-size: 1.1rem;
  line-height: 1.2;
}*/

.page-nav {
  width: 100%;
  // min-height: 30px;
  position: fixed;
  text-align:right;
  top: 90px;
  color: black;
  background-color:#DADADA;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: BebasNeueBold,HelveticaNeue-CondensedBold,'Franklin Gothic Medium',sans-serif;
  line-height:1.1;
  display:inline-block;
  z-index:999;
  
    -webkit-transition: top .25s;
        -moz-transition: top .25s;
        transition: top .25s;
}
.page-nav-items {
  float:right;
  padding-right:1rem;
  padding-left:1rem;
  text-align:right;
}
.page-nav a {
  padding: 9px .5rem;
  display: inline-block;
  font-size: .9rem;
  letter-spacing: .4px;
  -webkit-transition: top .25s, color .25s linear, background-color .25s linear;
-moz-transition: top .25s, color .25s linear, background-color .25s linear;
transition: top .25s, color .25s linear, background-color .25s linear;
}
.page-nav a:hover {
  background-color:yellow;
        -webkit-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
  transition: background-color .25s linear;
}


.page-nav-collapse {
  top:60px;
  -webkit-transition: top .25s;
        -moz-transition: top .25s;
        transition: top .25s;
}
.summary-1 .container {
  padding-top: 100px;
}
.cases-1 .container {
  padding-top: 100px;
}

.investigations .h2-heading,
.conclusion .h2-heading {
  margin-bottom:1rem;
}

.title {
  top: 19px;
    font-size: 2rem;
      -webkit-transition: top .25s, font-size .25s;
  -moz-transition: top .25s, font-size .25s;
  transition: top .25s, font-size .25s;
}
.navbar-header [aria-expanded="true"] {
  background-color:black;
  margin-top: 146px;
  }
  .page-nav {
    /*top:60px;*/
  }

.panel-collapse-inner {
  margin-bottom:1rem;
}
.panel-group {
  margin-top: 2rem;
}
.panel-default-inner {
  margin-top: 1rem;
}
img.img-responsive {
  /*margin-top: 2rem;*/
  padding-bottom: 3px;
}
/*.carousel-inner > .item > img {
  padding-bottom: .8rem;
}*/
.title a {
    color: white;
    background-color: black;
}
.title a:hover{
  color:yellow;
}
.modal-body h4 {
  margin-bottom: 1rem;
}
.modal-body .quote-text {
  font-size: 1.1rem;
}
.modal-lg {
  max-width: 660px;
  margin: 60px auto;
}
.ai {
  background: url('../assets/210654_YELLOW_ RGB _Web Use_.png');
  height: 60px;
  background-size: 141.111px 60px;
  width: 141.111px;
  display: inline-block;
}
.fa {
  background: url('../assets/FA-Rectangle-small.jpg');
  height: 60px;
  background-size: 120px 60px;
  width: 120px;
  display: inline-block;
}

.logos {
  display:inline-block;
  float:left;
  height:60px;
  overflow:hidden;
}
a.right.carousel-control.full {
    right: calc((100% - 660px) / -4);
}
.carousel-control.full .glyphicon-chevron-right {
    left: calc(50% - 15px);
}
a.left.carousel-control.full {
    width: calc((100% - 660px) / 2);
    left: calc((100% - 660px) / -2);
}
.carousel-control.full .glyphicon-chevron-left {
    right: calc(50% - 15px);
}
.img-box.fit a.right.carousel-control {
    right: 0;
}
.carousel-inner.fit {
  max-width: 660px;
  margin: 0 auto;
}
.carousel-inner img {
    padding-bottom: 3px;
}
.img-box.carousel-fit {
    width: 100%;
    margin: 0 auto;
}
.carousel-inner.full {
    width: calc(660px + ((100% - 660px) / 2));
}
a.right.carousel-control.full {
    width: calc((100% - 660px) / 4);
}
.carousel-fit a.left.carousel-control {
    width: calc((100% - 660px) / 2);
}
.carousel-fit a.right.carousel-control {
    width: calc((100% - 660px) / 2);
    right: 0;
}
.carousel-fit .glyphicon-chevron-left {
    right: calc(50% - 15px);
}
.carousel-fit .glyphicon-chevron-right {
    left: calc(50% - 15px);
}
.glyphicon-chevron-left {
    font-size: 30px;
}
.glyphicon-chevron-right {
    font-size: 30px;
}
/*  .carousel-control {
  width:calc((100% - 660px) / 4);
}
.carousel-control.right {
  right: -12.5%;
  }
  .carousel-control.left {
  left: -12.5%;
}*/
/*.right-control-fit {
  right: 12.5%;
}
.left-control-fit {
left: 12.5%;
}
a.left.carousel-control.full {
    right: -12.5%;
}
a.left.carousel-control.full {
    left: -12.5%;
}*/

.box {
  max-width:660px;
  margin:3.5rem auto 1.5rem auto;
}
.main {
  height:100%;
    max-width: 660px;
  margin: 0 auto;
}
.main .box {
  position: absolute;
  bottom: 0;
}
.img-box.fit {
  max-width:660px;
    margin-left: auto;
  margin-right: auto;
}
.embed-responsive {
  /*margin-top:2rem;*/
}
img.img-responsive.img-thumbnail:hover {
    background-color: yellow;
}
.navbar-toggle:hover .icon-bar {
  background-color: yellow;
  -webkit-transition:background-color .25s;
  -o-transition:background-color .25s;
  transition:background-color .25s;
}
.img-box {
  margin-left: calc((100% - 660px) / 4);
  margin-right: calc((100% - 660px) / 4);
}
/*.carousel-inner.full {
  margin-left: calc((100% - 660px) / 4);
  margin-right: calc((100% - 660px) / 4);
  width:auto;
}*/
/*.carousel-control.full .glyphicon-chevron-left {
    right: 50%;
}
a.right.carousel-control.full {
    right: -12.5%;
}
a.left.carousel-control.full {
    left: -12.5%;
}*/
/*.menu-narrative {
    color: white;
}*/

@media (max-width:716px) {
.img-box.fit {
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
}
.caption {
    margin-left: 2rem;
    margin-right: 2rem;
}
ol {
    margin-left: 2rem;
    margin-right: 2rem;
}
/*.embed-responsive {
    margin-left: 2rem;
    margin-right: 2rem;
}*/
a.right.carousel-control {
    width: 90px;
}
a.left.carousel-control {
    width: 90px;
}
a.left.carousel-control.full {
    width: 90px;
    left: 0;
}
a.right.carousel-control.full {
    right: 0;
}
.img-box {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.magnify img {
    padding-left: 2rem;
    padding-right: 2rem;
}
.img-box.fit.video {
    /*padding-left: 2rem;
    padding-right: 2rem;*/
}
.glyphicon-chevron-right {
    right: 0;
}
.carousel-control.full .glyphicon-chevron-left {
    left: 0;
    background-color: white;
}
.carousel-control.full .glyphicon-chevron-right {
  right:0;
      text-align: right;
}
.carousel-inner {
    padding-left: 2rem;
    padding-right: 2rem;
}
.img-box.fit .glyphicon-chevron-left {
    left: 0;
}
.img-box.fit .glyphicon-chevron-right {
    right: 0rem;
}
    .ai {
  background: url('../assets/ai-candle.jpg');
  height: 60px;
  background-size: 54px 60px;
  width: 54px;
  display: inline-block;
}
.fa {
  background: url('../assets/FA-Square-small.jpg');
  height: 60px;
  background-size: 60px 60px;
  width: 60px;
  display: inline-block;
}
html {
  font-size: 12px;
}
  .quote-text {
    font-size:1.1rem;
  }
  .carousel {
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }
.carousel-control.right {
  right: 0;
  }
  .carousel-control.left {
  left: 0;
}
.h1-heading {
  /*font-size: 3rem;*/
}
h3, .h3-heading-top {
  /*font-size:1.3rem;*/
}
h2 {
  /*font-size:2rem;*/
  margin-left: 2rem;
  margin-right: 2rem;
}
.carousel-indicators li {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 5px;
  }
  .carousel-indicators {
  top: 5px;
}
.box{
  margin-left:0;
  margin-right:0;
}
.main{
  margin-left:2rem;
  margin-right:2rem;
}
.main .box{
  /*margin-left:2rem;
  margin-right:2rem;*/
      width: calc(100% - 4rem);
}
p{
  margin-left:2rem;
  margin-right:2rem;
}
.quote{
  margin-left:2rem;
  margin-right:2rem;
}
h5 {
  margin-left:2rem;
  margin-right:2rem;
  line-height: 1.2;
}
.menu-1 h5 {
  margin-left:0;
  margin-right:0;
}
.h1-heading {
  margin-left:2rem;
  margin-right:2rem;
}
.h3-heading-top {
  margin-left:2rem;
  margin-right:2rem;
  width: calc(100% - 4rem);
}
.h3-heading {
  margin-left:2rem;
  margin-right:2rem;
}
.h3-heading-box {
  margin-left:0;
  margin-right:0;
}
.box {
  width:100%;
}
.main .box h3 {
  text-align: left;
}
.page-nav a {
  padding: 6.5px .3rem;
  display: inline-block;
  font-size: .9rem;
}
/* .title.title-collapse {
  -webkit-transition: left .25s;
  -moz-transition: left .25s;
  transition: left .25s;
  left: calc(113px + 1rem);
}
.title {
  -webkit-transition: left .25s;
  -moz-transition: left .25s;
  transition: left .25s;
  left: calc(113px + 1rem);
} */
/*.menu-1 {
  margin-top: 60px;
}*/
}


@media (max-width: 978px) {
  .navbar-header.page-scroll {
  background-color: black;
}
.page-nav {
  top:60px;
  -webkit-transition: top .25s;
        -moz-transition: top .25s;
        transition: top .25s;
}
/* .title.title-collapse {
  top: 21px;
    font-size: 1.2rem;
      -webkit-transition: top .25s;
  -moz-transition: top .25s;
  transition: top .25s;
  -webkit-transition: font-size .25s;
  -moz-transition: font-size .25s;
  transition: font-size .25s;
} */
.page-nav {
  top: 60px;
}
.navbar-default .navbar-ex1-collapse .navbar-nav-collapse > li > a {
  font-size: 1rem;
  }
.collapse.in {
  display: block;
  border: 0;
  padding: 0;
  margin-top: 0;
}
.menu-2.menu-2-collapse {
  margin-top: 120px;
  background-color: black;
}
.menu-2 {
  margin-top:90px;
    background-color: black;
}
.menu-2 h5 {
  margin: auto 0;
}
ul.nav.navbar-nav {
  margin: 0 auto;
  max-width: 1000px;
}
.collapse.navbar-collapse.navbar-ex1-collapse {
  padding-bottom:0;
}
}

// vimeo

// for Vimeo Share button:
.tcvpb-videoWrapper-vimeo .player .sidedock .share-button{
    display: none !important;
}
// and for recommended videos when the video has ended:
.tcvpb-videoWrapper-vimeo .player .outro .video-section{
    display: none !important;
}

@media (max-width: 827px)
{
  #summary-1 h3 span.h3-heading
  {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 494px)
{
  #summary-1 h3 span.h3-heading
  {
    margin-bottom: 5.5rem;
  }
}


.acknowledgements-logo
{
  max-width: 20%;
  margin: 10px;
}

.acknowledgements-logo.small-logo
{
  max-width: 10%;
}

.logo-container
{
  margin: 3.5rem auto;
}