/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	outline: 0;
	text-decoration: none;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

a:hover,
a:focus {
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

a:focus {
	outline: 0;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 6000px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}